{{- with site.Params.homeInfoParams }}
<article class="first-entry home-info">
    <img draggable="false" src="/images/norman.jpg" alt="profile image" title="" 
        height="90" width="90"/>
    <header class="entry-header">
        <h1>{{ .Title | markdownify }}</h1>
    </header>
    <div class="entry-content">
        {{ .Content | markdownify }}
    </div>
    <footer class="entry-footer">
        {{ partial "social_icons.html" (dict "align" site.Params.homeInfoParams.AlignSocialIconsTo) }}
    </footer>
</article>
{{- end -}}